h1 {
    color:aquamarine;
}
.game{
    border: 5px;
}
li {
    color:crimson;
    font-size:35px;
}
a{
    color:cadetblue;
}
.xttp{
    height: 400px;
    width: 767px;
}
a:hover{
    font-size:40px;
    color:deeppink;
}
label{
    color:blueviolet;
    font-size:30px;
}
*{
    font-family:"宋体";
}
caption{
    font-size:30px;
    color:cyan;
}
td{
    font-size: 20px;
    color:darkgreen;
}
th{
    font-size:20px;
    color:brown;
}
table{
    border:5px solid gold;
}
