
* {
    font-family: "STXinwei";
    margin: 0px;/*设置四周边距都为0*/
    box-sizing: border-box;/*宽高的设置值包括border等*/
}

body {
    background-color: black;
    background: url("./re/photo/66.jpg");/*设置背景图片*/
    background-repeat: no-repeat;
    background-attachment: fixed;/*设置背景图不随网页滑动而改变*/
    background-size: cover;
}
.content {
    perspective: 400px;
    width: 100%;
    height: 620px;
    position: relative;
}
/* 顶部导航条 */
#logo{
    padding: 5px;
    height: 100px;
    width: 100px;
}
 
/* 链接颜色修改 */


/*正中间的字*/
.avr{
    text-shadow: -1px 1px 0 #ffffff, 1px 1px 0 #ffffff,1px -1px 0 #ffffff,-1px -1px 0 #ffffff;/*这个描边效果还可以*/
    font-family: "STHupo";
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 260px;
    margin: auto;
    bottom: 0;
    color:rgba(50, 49, 50, 0.902);
    font-size: 90px;
    font-weight: 500;
}

audio {
    position: fixed;
    bottom: 50px;
    right: 0;
}


.centercolumn {
    margin: auto;
    width: 80%;
    height:3000px;
    padding: 10px;
    
}


/* 文章卡片 */
.card {
    position: relative;
    max-height: 300px; 
    overflow: hidden;/* 超出部分隐藏 */  
    transition: max-height 0.5s ease-in-out; 
    background-color:rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin-top: 20px;
    border-radius: 50px;
}
.toggle-button {  
    border-radius: 20px;
    display: block;  
    margin: 5px auto; /* 水平居中显示按钮 */  
    padding: 10px 20px; /* 按钮的内边距 */  
    background-color: rgba(255, 255, 255, 0.5);   /* 透明背景 */  
    border: 2px solid #33b8e1; /* 天蓝色边框 */  
    color: #33b8e1; /* 天蓝色字体 */  
    font-size: 16px; /* 字体大小 */  
    font-weight: bold; /* 加粗字体 */  
    cursor: pointer; /* 鼠标指针变为手形 */  
    transition: background-color 0.3s ease; /* 背景颜色过渡效果 */  
  }  
  .toggle-button:hover {  
    color: #48d9e8; /* 鼠标悬停时的背景颜色，带有透明度 */  
  }
.card>p{
    font-size: 22px;
}
.biaoti {
    font-size: 30px;
    text-align: center;
}
.qita {
    font-size: 18px;
    text-align: right;
}
/* 列后面清除浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*旋转的音符效果*/
.music {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
}
img#musicico{
	animation-name: music;
	animation-timing-function: linear; 
	animation-duration: 3s; 
	animation-iteration-count: infinite; 
}
.musw{
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 35px;
    width: 15px;
    height: 15px;
}
/* 实现动画的旋转 */
@keyframes music{
	0%{
		transform: rotate(0deg);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(365deg);
	}
}

.yinyue {
    display: flex;
    justify-content: space-between;
    padding: 0 400px;
    box-sizing: border-box;
    overflow: hidden;
}

/* 底部 */
.footer {
    background-image: linear-gradient(rgba(16, 173, 225, 0.795),rgba(218, 224, 227, 0.283));
    text-align: center;
    margin-top: 50px;
}
.footer p{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.799);
}
/*中间的字效果*/
.btn {
    width: 18%;
    height: 60px;
    position: absolute;
    top: 65%;
    left: 41%;
    background-image: linear-gradient(rgba(16, 173, 225, 0.795),rgba(218, 224, 227, 0.283));
    border-radius: 40px;
    border-color: rgb(142, 152, 162);
}

.btn p{
        text-align: center;
        line-height: 60px;
        font-size: 22px;
        color: rgba(255, 255, 255, 0.799);
    }
.bt {
    border-radius: 10px;
    cursor: pointer; /*使鼠标放上边显示手指形状*/
    width: 25%; /*设置宽*/
    height: 50px; /*设置高*/
    display: block; /*行内元素设置宽高不生效，使用display:block;可以将行内元素设置为块集元素 */
    text-align: center; /*文字在容器中横向居中*/
    line-height: 40px; /*当数值与height一样的时候文字垂直居中*/
    text-decoration: none; /*将文字下划线去除*/
    background-image: linear-gradient(rgba(16, 173, 225, 0.795),rgba(218, 224, 227, 0.283)); /*设置元素背景颜色：渐变*/
    color: rgba(0, 0, 0, 0.60); /*设置文字颜色*/
    border: none;  /*去除边框*/
    margin-bottom: 10px; /*下部外边框距离10像素*/
    margin: auto;  /*使按钮居中*/
    font-size: 20px; /*设置字体大小*/
}
/*侧边导航栏*/
aside{
    overflow: auto;
border-radius: 10px;
height: 30vmax;
  width: 5vmax;
  position: fixed;
  z-index: 1;
  top: 150px;
  right: 15px;
  background: #eee;
  overflow-x: hidden;
  padding: 10px 0;
}
.side{
    text-decoration: none;
    font-family: "华文琥珀";
    border-radius: 5px;
    cursor: pointer;
    margin: 0.3vmax;
    padding: 0.6vmax;
    height: 2vmax;
    display: block;
    color: black;
}
.end{
    position: absolute;
    bottom: 0;
    font-family: "华文琥珀";
    display: block;
    margin: 0.3vmax;
    padding: 0.6vmax;
}
.side:hover{
    background-color: gainsboro;
}
maodian{
    margin: 10px;
    padding: 10px;
}
.photo{
    margin: 0 25%;
  border-radius: 20px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
}

