*{
    font-family:"宋体";
}
body{
    background-color:black;
}
h1 {
    display: block;
    border:2px,solid black;
    text-align: center;
    font-size:50px;
    background-color:dimgray;
    color:white;
    border-radius: 5px;
    width:500px;
    margin:20px auto;
   
}
#biaotou{
    padding:1px;
    border-radius: 5px;
    background-color: white; 
    position: relative;
}
#logo{
    width:80px;
    height: 80px;
    position: absolute;
    bottom: 10px;
    left: 5px;
    border-radius: 10px;
}
audio{
    display: none;
}
#yyan{
    width:40px;
    height: 40px;
    bottom: 10px;
    right: 5px;
    position: absolute;
}
a{
    color:cadetblue;
}
a:hover{
    color:deeppink;
}
h2{
    color: white;
    text-align: center;
    font-size: 30px;
}